<h1>New Bet</h1>
<%= form_for @bet, :url => create_bet_path do |f| %>
  <%= f.label "Description" %>
  <%= f.text_area :description %>
  <%= f.label "Username 1" %>
  <%= f.text_field :username1, value: @user.username %>
  <%= f.label "Username 2" %>
  <%= f.text_field :username2 %>
  <%= f.label "Amount" %>
  <%= f.number_field :amount %>
  <%= f.submit "Start Bet" %>
<% end %>
