<h1>New Bet</h1>
<%= form_for @bet, :url => create_bet_path do |f| %>
  <%= f.label "Description" %>
  <%= f.text_area :description %>

  <%= f.fields_for :transacktions, @bet.transacktions.build do |t_fields| %>
    <%= t_fields.label "Username 1" %>
    <%= t_fields.text_field :username1, value: @user.username %>
    <%= t_fields.label "Username 2" %>
    <%= t_fields.text_field :username2 %>
    <%= t_fields.label "Amount" %>
    <%= t_fields.number_field :amount %>
    <%= t_fields.hidden_field :bet_id, value: @bet.id%>

  <% end %>
  <%= f.submit "Start Bet" %>
<% end %>
