<h1>Do You Accept These Terms?</h1>
Pot: <%=@bet.amount%><br>
Participants: <br><%=@bet.username1%><br> <%=@bet.username2%><br>
Description: <%=@bet.description%><br>
<% if @bet.winner1.nil?%>
  <%=form_for @bet, :url => update_bet_path(@bet) do |f| %>
    <%= f.label "Who Won?" %>
    <%= f.collection_select :winner1, @bet.users, :username, :username, :include_blank => true %>
    <%= f.submit %>
  <%end %>
<%end%>

<% if @bet.winner2.nil? && !@bet.winner1.nil?%>
  <%=form_for @bet, :url => update_bet_path(@bet) do |f| %>
    <%= f.label "Who Won?" %>
    <%= f.collection_select :winner2, @bet.users, :username, :username, :include_blank => true %>
    <%= f.submit %>
  <%end %>
<%end %>
