
<h1>Sign Up</h1>
<%= form_for @user do |f| %>
  <%= f.label "First Name" %>
  <%= f.text_field :first_name %>
  <%= f.label "Last Name" %>
  <%= f.text_field :last_name %>
  <%= f.label "Username" %>
  <%= f.text_field :username %>
  <%= f.label "Password" %>
  <%= f.text_field :password %>
  <%= f.label "Email" %>
  <%= f.text_field :email %>
  <%= f.submit "Register" %>
<% end %>

<%if flash[:notice]%>
  <%flash[:notice].each do |notice|%>
    <h1><%=notice%></h1>
  <%end%>
<%end%>
