<label>First Name:</label>
<%=@user.first_name%><br>
<label>Last Name:</label>
<%=@user.last_name%><br>
<label>Username:</label>
<%=@user.username%><br>
<label>E-mail:</label>
<%=@user.email%><br>

<%if current_user != @user %>
  <%= button_to "Start Bet", new_bet_path, method: :get%>
<%end%>


<% if current_user == @user%>
  <label>Balance: </label><%=@user.account_balance%>
<%end%>

<% if current_user == @user%>
  <%= button_to "Edit Account", edit_user_path(@user), method: :get%>
  <%= button_to "Delete Account", user_path(@user), method: :delete%>
<%end%>
