<h1>Enter Username</h1>
<%= form_for @user, :url => create_friendship_path do |f| %>
  <%= f.label "Username" %>
  <%= f.text_field :username %>
  <%= f.submit "Add Friend" %>
<% end %>

<%if flash[:notice]%>
  <%= flash[:notice] %>
<%end%>
