<%if flash[:notice]%>
  <%=flash[:notice]%>
<%end%>

<h1>New Bet</h1>
<%= form_for @bet_request, :url => create_bet_request_path do |f| %>
  <%= f.label "Description" %>
  <%= f.text_area :description %>
  <%= f.hidden_field :sender, value: @user.username %>
  <%= f.label "Recipient" %>
  <%= f.text_field :recipient %>
  <%= f.label "Amount" %>
  <%= f.number_field :amount %>
  <%= f.submit "Request Bet" %>
<% end %>
