<h1><%= "#{@user.first_name} #{@user.last_name}"%></h1>
<h3><%= @user.username%></h3>
<%= button_to "Add Friend", new_friendship_path, method: :get%>
<%= button_to "Friends", friendships_path, method: :get%>
<%= button_to "New Bet Request", new_bet_request_path, method: :get%>
<%= button_to "My Account", user_path(@user), method: :get%>
<%= button_to "View Bets", bets_path, method: :get%>
<%= button_to "Bet Requests", bet_requests_path, method: :get%>


<div><img src="logo.jpg" width="100" height="80" alt="My Logo" ></div>
