<!DOCTYPE html>
<html>
<style>
  body {
    background-color: lightblue;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
  <head>
    <title>Youwont</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li text><%=link_to "Home", home_path%></li>
  <%if current_user%>
    <li><a href=/bet_requests>Bet Requests</a></li>
    <li><a href=/friendships>Freinds</a></li>
    <li text><%= link_to "Add Friend", new_friendship_path, method: :get%></li>
    <li text><%= link_to "New Bet Request", new_bet_request_path, method: :get%></li>
    <li text><%= link_to "My Account", user_path(current_user), method: :get%></li>
    <li text><%= link_to "View Bets", bets_path, method: :get%></li>

    <li style="float:right"><%= link_to "log out", user_path(current_user), method: :delete%></li>
  <%else%>
    <li style="float:right"><%= link_to "log in", login_path%></li>
  <%end%>
</ul>
    <%= yield %>
  </body>
</html>
